PORT=
MONGO_URI=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
GOOGLE_CLIENT_ID=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_PAYOUT_CLIENT_ID=
PAYOS_PAYOUT_API_KEY=
PAYOS_PAYOUT_CHECKSUM_KEY=
SYSTEM_BANK_NAME=
SYSTEM_BANK_ACCOUNT_NO=
SYSTEM_BANK_ACCOUNT_HOLDER=
FRONTEND_URL=
OTP_HASH_SECRET=
WALLET_BANK_ENCRYPTION_KEY=
